<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Edición de Ingrediente</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="actualizar()" class="example-form">

      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="idIngredientes" readonly="true" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Grasas</mat-label>
        <input matInput type="number" formControlName="grasas" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Calorías</mat-label>
        <input matInput type="number" formControlName="calorias" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Azúcares</mat-label>
        <input matInput type="number" formControlName="azucares" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Carbohidratos</mat-label>
        <input matInput type="number" formControlName="carbohidratos" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Proteínas</mat-label>
        <input matInput type="number" formControlName="proteinas" />
      </mat-form-field>

      <br />

      <div>
        <button mat-raised-button color="primary" type="submit">
                Actualizar
                </button>      
      <button mat-raised-button color="warn" type="button" routerLink="/">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
