<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Edición de Registro de Comida</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (ngSubmit)="actualizar()" class="example-form">

      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="id_registro" readonly>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de Consumo</mat-label>
        <input matInput formControlName="fecha_consumo">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Notas</mat-label>
        <textarea matInput formControlName="notas"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ID Usuario</mat-label>
        <input matInput type="number" formControlName="id_Usuario">
      </mat-form-field>

      <mat-form-field>
        <mat-label>ID Receta</mat-label>
        <input matInput type="number" formControlName="contrasenia">
      </mat-form-field>
      
      <div style="margin-top: 15px;">
        <button mat-raised-button color="primary" type="submit">Actualizar</button>
        <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
      </div>

      
    </form>
  </div>
</div>
