mat-form-field {
  width: 60%;
}

button[matButton="elevated"] {
  background-color: rgb(242, 63, 35);
  color: white;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  width: 60%;
  transition: background-color 0.3s ease;
}

button[matButton="elevated"]:hover {
  background-color: #faf67c;
}
