<div class="container page-bg">
  <mat-card class="mat-elevation-z4 panel-card">
    <h2 style="text-align: center; margin: 0 0 16px 0">Registro de Foro</h2>

    <form [formGroup]="form" (submit)="aceptar()">

      @if (edicion) {
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" />
      </mat-form-field>
      }

      <br />

      <mat-form-field>
        <mat-label>Título</mat-label>
        <input matInput formControlName="titulo" />
        <mat-error>
          @if (form.get('titulo')?.hasError('required')) { Ingrese título!! }
          @else if (form.get('titulo')?.hasError('minlength')) { Minimo 3 caracteres }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Contenido</mat-label>
        <textarea matInput formControlName="contenido"></textarea>
        <mat-error>
          @if (form.get('contenido')?.hasError('required')) { Ingrese contenido!! }
          @else if (form.get('contenido')?.hasError('minlength')) { Minimo 5 caracteres }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Fecha de publicación</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          @if (form.get('fecha')?.hasError('required')) { Ingrese fecha!! }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>ID Usuario</mat-label>
        <input matInput formControlName="idUsuario" type="number" />
        <mat-error>
          @if (form.get('idUsuario')?.hasError('required')) { Ingrese id usuario!! }
          @else if (form.get('idUsuario')?.hasError('min')) { Debe ser mayor a 0 }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Nombre Usuario</mat-label>
        <input matInput formControlName="nombreUsuario" />
        <mat-error>
          @if (form.get('nombreUsuario')?.hasError('required')) { Ingrese nombre!! }
          @else if (form.get('nombreUsuario')?.hasError('minlength')) { Minimo 3 caracteres }
        </mat-error>
      </mat-form-field>

      <br />

      <button matButton="elevated">Guardar</button>
    </form>
  </mat-card>
</div>
