<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Registro de Comentarios</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      @if(edicion){
      <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput formControlName="codigo" type="number"/>
      </mat-form-field>
      }
      <br />

      <mat-form-field>
        <mat-label>Contenido</mat-label>
        <input matInput formControlName="contenido" />
        <mat-error>
          @if (form.get('contenido')?.hasError('required')) { Ingrese contenido!! }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fecha" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error>
          @if (form.get('fecha')?.hasError('required')) { Ingrese fecha!! }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>ID Usuario</mat-label>
        <input matInput type="number" formControlName="idUsuario" />
        <mat-error>
          @if (form.get('idUsuario')?.hasError('required')) { Ingrese id usuario!! }
        </mat-error>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Nombre Usuario</mat-label>
        <input matInput formControlName="nombreUsuario" />
        <mat-error>
          @if (form.get('nombreUsuario')?.hasError('required')) { Ingrese nombre!! }
        </mat-error>
      </mat-form-field>

      <br />
      <div>
        <button matButton="elevated">Guardar</button>
      </div>

    </form>
  </div>
</div>
