<div class="sidebar">
  <h2 class="logo">Vital_CO</h2>

  <div class="menu-section">

    <!-- Ingredientes -->
    <div class="menu-item">
      <span class="icon">🧪</span>
      <h3>Ingredientes</h3>
      <button class="menu-btn" [routerLink]="['/ingrediente/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/ingrediente/insertar']">Registrar</button>
    </div>

    <!-- Usuarios -->
    <div class="menu-item">
      <span class="icon">👤</span>
      <h3>Usuarios</h3>
      <button class="menu-btn" [routerLink]="['/usuario/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/usuario/insertar']">Registrar</button>
    </div>

    <!-- Alertas -->
    <div class="menu-item">
      <span class="icon">🔔</span>
      <h3>Alertas</h3>
      <button class="menu-btn" [routerLink]="['/alerta/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/alerta/insertar']">Registrar</button>
    </div>

    <!-- Comentarios -->
    <div class="menu-item">
      <span class="icon">💬</span>
      <h3>Comentarios</h3>
      <button class="menu-btn" [routerLink]="['/comentario/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/comentario/insertar']">Registrar</button>
    </div>

    <!-- Reportes -->
    <div class="menu-item">
      <span class="icon">📊</span>
      <h3>Reportes</h3>
      <button class="menu-btn" [routerLink]="['/reporte/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/reporte/insertar']">Registrar</button>
    </div>

    <!-- Perfil Usuario (artur)--> 
    <!-- Lista de Compras (artur)-->
    <!-- Recetas (artur) -->
    <!-- Suscripciones (Valentino)-->
    <div class="menu-item">
      <span class="icon">💬</span>
      <h3>Foro</h3>
      <button class="menu-btn" [routerLink]="['/foro/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/foro/insertar']">Registrar</button>
    </div>

    <!-- dispositivo -->
    <div class="menu-item">
      <span class="icon">📱</span>
      <h3>Dispositivo</h3>
      <button class="menu-btn" [routerLink]="['/dispositivo/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/dispositivo/insertar']">Registrar</button>
    </div>
    <!-- Registro-Comida -->
    <div class="menu-item">
      <span class="icon">🍽️</span>
      <h3>Registro de comida</h3>
      <button class="menu-btn" [routerLink]="['/registrocomida/listar']">Listar</button>
      <button class="menu-btn secondary" [routerLink]="['/registrocomida/insertar']">Registrar</button>
    </div>

  </div>
</div>
