<div class="dashboard-container">
  <div class="sidebar">
    <h2 class="logo">Vital_CO</h2>

    <div class="menu-section">

      <!-- Ingredientes -->
      <div class="menu-item">
        <span class="icon">🍃</span>
        <h3>Ingredientes</h3>
        <button class="menu-btn" [routerLink]="['/menu/ingrediente/listar']">Listar</button>
        <button class="menu-btn secondary" [routerLink]="['/menu/ingrediente/insertar']">Registrar</button>
        <button class="menu-btn secondary" [routerLink]="['/menu/ingrediente/topcalorias']">Top calorías</button>
      </div>

      <!-- Usuarios -->
      <div class="menu-item">
        <span class="icon">👤</span>
        <h3>Usuarios</h3>
        <button class="menu-btn" [routerLink]="['/menu/usuario/listar']">Listar</button>
        <button class="menu-btn secondary" [routerLink]="['/menu/usuario/insertar']">Registrar</button>
      </div>

      <!-- Alertas -->
      <div class="menu-item">
        <span class="icon">⚠️</span>
        <h3>Alertas</h3>
        <button class="menu-btn" [routerLink]="['/menu/alertas/listar']">Listar</button>
        <button class="menu-btn secondary" [routerLink]="['/menu/alertas/insertar']">Registrar</button>
      </div>

      <div class="menu-item">
          <span class="icon">💬</span>
          <h3>Comentarios</h3>
          <button class="menu-btn" [routerLink]="['/menu/comentario/listar']">Listar</button>
          <button class="menu-btn secondary" [routerLink]="['/menu/comentario/insertar']">Registrar</button>
      </div>

      <div class="menu-item">
        <span class="icon">📰</span>
        <h3>Foro</h3>
        <button class="menu-btn" [routerLink]="['/menu/foro/listar']">Listar</button>
        <button class="menu-btn secondary" [routerLink]="['/menu/foro/insertar']">Registrar</button>
      </div>

      <!-- dispositivo -->
      <div class="menu-item">
        <span class="icon">📱</span>
        <h3>Dispositivo</h3>
        <button class="menu-btn" [routerLink]="['/menu/dispositivo/listar']">Listar</button>
        <button class="menu-btn secondary" [routerLink]="['/menu/dispositivo/insertar']">Registrar</button>
      </div>

      <!-- Registro-Comida -->
      <div class="menu-item">
        <span class="icon">🍽️</span>
        <h3>Registro de comida</h3>
        <button class="menu-btn" [routerLink]="['/menu/registrocomida/listar']">Listar</button>
        <button class="menu-btn secondary" [routerLink]="['/menu/registrocomida/insertar']">Registrar</button>
      </div>

    </div>
  </div>

  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
