.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.form {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

.buttons {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
